NEXTAUTH_SECRET="qweqwe"
NEXTAUTH_URL="https://rokafmail.kr"
GMAIL_PASSWORD="dsac dvsa dsvs ddas"
GMAIL_EMAIL="ica923s2@gmail.com"
GOOGLE_CLIENT_SECRET="GOCSPewqewqewqJ9Zy2RJ5"
GOOGLE_CLIENT_ID="378980919ewqeqewqewqeqewqeq7s.apps.googleusercontent.com"
AWS_ACCESS_KEY_ID="AK321321313213213PC"
AWS_SECRET_ACCESS_KEY="4CaB1S3213213217M/VAaJ3213213mIE"
AWS_REGION="ap-northeast-2"
AWS_S3_BUCKET_NAME="rokafmail"
DATABASE_URL="postgres://postgres:32faweqeqewqw23@3.34.14.103:5432/postgres"

DOMAIN="rokafmail.kr"


NEXT_PUBLIC_GTM="G-vyub67bfty"