/* 입력 폼 */
.form{
   border-width: 0 0 1px;
  background-color: transparent;
  outline: none;
  color: var(--font-color);
 border-color:var(--font-color);
   font-weight: 400;
  font-size: 16px;
  width: 100%;
  overflow: scroll;
}
.form::placeholder {
  color: var(--light-font);
   font-weight: 400;
}

.contentForm{
  border:none;
}
.contentForm::-webkit-scrollbar {
   display: none;
 }

.formLine{
  border-width: 0 0 1px;
  border-color:var(--font-color);
}
