.helper{
  color: #191919;

  text-align: center;
  font-family: Noto Sans KR;
  font-size: 18px;
  height:30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}