.logo{
   width: 173px;
  height:173px;
}

/* 메인화면에 나오는 글씨  */
.title{
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.substring{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}



.help{
  color: #191919;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
.help:hover{
  color: var(--dark-accent);
}


