.titleLogo{
  color: var(--primary);
  font-size:64px;
   letter-spacing: 0.04em;
}

/* 설명글 */
.title{
  font-size:20px;
  text-align:start;
  font-weight:700;
  padding-bottom:12px;
}
.content{
  font-size:15px;
  text-align:start;
  padding-bottom:8px;
}



