.box{
  width:100%;
}


.card{
   width:100%;
     background: #F9F9F9;

  padding: 20px;
   padding-top:16px;
}
.prev{
  max-width: 141px;
  color: white;
  background: #191919;
}

.prev:hover{
  background: #2e2e2e;
}

.footer{
  position : fixed;
  bottom : 0;
  background: white;
  width: 100%;
  max-width:440px;
}