.box{
  width:100%;
}


.card{
   width:100%;
     background: #F9F9F9;
  padding: 20px;
   padding-top:16px;
}

.footer{
  position : fixed;
  bottom : 0;
  background: white;
  width: 100%;
  max-width:440px;
}