/* 페이지 제목 */
.title{
   color: var(--font-color);
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.96px;
  font-weight:600;
}

/* 입력 폼 제목  */
.formTitle{
  width: 100%;
  max-width: 440px;
  color: var(--font-color);
  font-size: 16px;
   letter-spacing: 0.04em;
  font-weight: 400;
  text-align: left;
  height:23px;
}

/* 회원가입할 때 경고 글씨 */
.help{
  width: 100%;
  max-width: 440px;
  color: var(--medium-font);
  font-size: 12px;
   letter-spacing: 0.04em;
  font-weight: 400;
   text-align: left;
  height:17px;
   transition: 0.2s;
}

/* 화원가입 입력 폼 */
.form{
   border-width: 0 0 1px;
  background-color: transparent;
  outline: none;
  color: var(--font-color);
 border-color:var(--font-color);
  font-size: 24px;
   letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 400;
  transition: 0.2s;
  width: 100%;
  max-width:440px;
  text-align: left;
  height:34px;
}
.username{
  max-width:343px;
}
.introduction{
  
}

@media ( min-width: 480px ) {
  .username{
    width:349px;
  }
}


/* 입력폼 힌트 메시지 */
.form::placeholder {
  color: var(--light-font);
  font-size: 20px;
   letter-spacing: 0.04em;
  font-weight: 400;
}

.form:focus {
   border-color: var(--dark-accent);
}






/* 중복확인 버튼 */
.dupButton{
  width:91px;
  height:32px;
  border-radius: 100px;
  border: 1px solid #39F;
  background: #FFF;
  color: #39F;
  text-align: center;
  font-size: 14px;
   letter-spacing: 0.04em;
  font-weight: 400;
   cursor: pointer;
  margin-left:6px;
}
.dupButton:hover{
  background:#e3e3e3;
}

/* 설명글 */
.intro{
  color: #939393;
  max-width: 440px;
  text-align:left;
  font-size: 12px;
  font-weight: 400;
   letter-spacing: 0.04em;
}