
.area{
  display:flex;
  justify-content:flex-start;
  padding-left:18px;
   padding-right:18px;
  height:56px;
  width:100%;
  border-bottom:0.5px solid #CBCBCB;
}
.titleLogo{
  color: var(--primary);
  font-size:22px;
   letter-spacing: -0.04em;
  font-weight:700;
  line-height: 56px;
  cursor:pointer;
}

.inner{
  padding-left:18px;
  text-align:end;
}