/* 입력 폼 */
.form{
   border-width: 0 0 1px;
  background-color: transparent;
  outline: none;
  color: var(--font-color);
 border-color:var(--font-color);
   font-weight: 400;
  font-size: 20px;
  font-style: normal;
  transition: 0.2s;
  width: 100%;
  text-align: left;
}

.contentForm{
   display:block;
  font-family:var(--font-family) !important;
  min-height:80px;
  overflow:hidden;
  resize:none;
  margin:0;
  padding:0;
}

/* 입력폼 힌트 메시지 */
.form::placeholder {
  color: var(--light-font);
  font-size: 20px;
   font-weight: 400;
}

.contentForm::placeholder {
  font-family:var(--font-family) !important;
  color: var(--light-font);
  font-size: 20px;
   font-weight: 400;
}

.form:focus {
   border-color: var(--dark-accent);
}

.description{
   color: var(--light-font);
  font-weight: 400;
  font-size:12px;
  text-align:left;
   width: 100%;
}

.help{
  color: #808080;
  font-weight: 400;
  font-size:12px;
  text-align:left;
  height:17px;
}



/* 로딩창 */
 .animation {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   border: 2px solid #39F;
   border-top-color: transparent;
   border-left-color: transparent;
   animation: Rotate 0.8s infinite linear;
}

@keyframes Rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
.registerLoad{
  position: fixed  ;
   display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
}

.bigAnimation{
  width:36px;
  height:36px;
   border: 4px solid #39F;
  border-top-color: transparent;
   border-left-color: transparent;
   /* animation: Rotate 0.8s infinite linear; */
}
