
 :root {
  --primary: #39F;
  --light-accent: #66b3ff;
  --dark-accent: #2491ff;
  --secondary: #0CEDDB;
  --red: #ff0000;
  --background: white;
  --dark-background: #E5E5E5;
  --font-color: #191919;
  --medium-font: #808080;
  --light-font: #ababab;
  --font-family: 'Noto Sans KR', sans-serif;
}

*{
  margin:0;
  padding:0;
  font-family: 'Noto Sans KR', sans-serif;
}

html, body{
   height: 100%;
}
body {
padding:0;
  scroll-behavior: smooth;
  color: var(--font-color);
  text-align: center;
}

/* 플렉스 */
.flex{
  display: flex;
  height: 100%;
}

h1,h2,h3{
  color: var(--font-color);
}

/* 기본 버튼 */
.submit{
  padding: 14px 0;
  border-radius: 50px;
  background: var(--primary);
   border: none;
  width: 100%;
  max-width:440px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 22px;
  letter-spacing: 0.88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.02em;
}
.submit:hover{
   background-color: var(--light-accent);
}
.submit.disable{
  background: var(--dark-background);
  color: var(--light-font);
}


/* 경고 색 */
.warn{
  color:red !important;
}
.great{
  color:green  !important;
}


