@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face{
  font-family: 'Noto Sans KR';
} */

 :root {
  --primary: #39F;
  --light-accent: #66b3ff;
  --dark-accent: #2491ff;
  --secondary: #0CEDDB;
  --red: #ff0000;
  --background: white;
  --dark-background: #E5E5E5;
  --font-color: #191919;
  --medium-font: #808080;
  --light-font: #ababab;
  /* --font-family: 'Noto Sans KR', sans-serif; */
}

.material-symbols-outlined.md-128 { 
  color:var(--primary);
  font-size:128px ;
}

*{
  margin:0;
  padding:0;
  /* font-family: 'Noto Sans KR', sans-serif; */
  letter-spacing: 0.04em
}

html, body{
   height: 100%;
}
body {
  padding:0;
  scroll-behavior: smooth;
  color: var(--font-color);
  text-align: center;
}

textarea,input{
  border-radius:0px;
  -webkit-appearance: none;
}

/* 너비 440px 화면 레이아웃 */
.screen{
  max-width:640px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}
.screen-not-flex{
  max-width:640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.sized{
  width:1px;
  height:1px;
  flex-shrink:0;
}

/* 플렉스 */
.flex{
  display: flex;
  height: 100%;
}

h1,h2,h3{
  color: var(--font-color);
}

a{
  text-decoration: none;
}

/* 기본 버튼 */
.submit{
  display:block;
  padding: 14px 30px;
  border-radius: 50px;
  background: var(--primary);
   border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  /* transition: 0.2s;*/
  font-size: 22px;
  letter-spacing: 0.88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space:nowrap;
}
.submit:active{
   background-color: var(--light-accent);
}
.submit.disable{
  background: var(--dark-background);
  color: var(--light-font);
}

.submit.mini{
  width:fit-content;
  color: white;
  background: #191919;
  margin-right:12px;
}

.submit.mini:active{
  background: #2e2e2e;
}


.row{
  display: flex;
  flexDirection: row;
  alignItems: center;
  width: 100%;
  justifyContent: flex-start;
}


/* 경고 색 */
.warn{
  color:red !important;
}
.great{
  color:green  !important;
}


.myCustomTable {
  max-height: 525px !important;
  overflow: auto !important;
}

